html,
body,
#content {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans Pro", sans-serif;
}
.headline {
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    padding: 3px;
    position: fixed;
    left: 50px;
    bottom: 25px;
    z-index: 3;
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid #000;
}
.headline:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 530px) {
    .headline {
        display: none;
    }
}
@media only screen and (max-height: 350px) {
    .headline {
        display: none;
    }
}
.loading,
.cant-connect {
    font-weight: bold;
    position: absolute;
    top: 20px;
    padding: 5px;
    z-index: 2;
    background-color: #000;
    color: #fff;
}
.loading {
    font-size: 30px;
    left: calc(80% - 200px);
}
.cant-connect {
    font-size: 18px;
    left: calc(80% - 400px);
}
.map-canvas {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 0;
    padding: 0;
    float: left;
    z-index: 1;
    border: 10px solid #000;
}
.sidebar-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 4;
}
.menu-btn {
    background-color: #000;
    color: #fff;
    font-size: 30px;
    float: left;
    padding: 0 5px;
    cursor: pointer;
}
.menu-btn:after {
    content: "\2630";
}
.sidebar {
    text-align: left;
    float: left;
    width: 190px;
    height: 100%;
    border-left: 10px solid #000;
    background-color: #000;
}
.sidebar-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 2.4em;
    color: #fff;
    padding-left: 10px;
    height: 60px;
}
.marker-list {
    overflow: auto;
    height: calc(100% - 60px);
    background-color: #ffffeb;
    position: relative;
}
.marker-entry {
    overflow: hidden;
    background-color: #f8f8ff;
    padding-left: 10px;
    background-color: inherit;
}
.marker-entry:nth-child(odd) {
    background-color: #ffffcc;
}
.marker-entry:hover {
    background-color: #f9d145;
}
.marker-name {
    height: auto;
    padding-top: .3em;
    padding-bottom: .3em;
    float: left;
    font-size: 18px;
    line-height: 1.1em;
    max-width: calc(100% - 46px);
    cursor: pointer;
}
.delete {
    font-size: 20px;
    height: 100%;
    display: none;
    float: right;
    margin-right: 12px;
    margin-top: 2px;
    cursor: pointer;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
.marker-entry:hover .delete {
    display: initial;
}
.delete:after {
    content: "\2716";
}
.delete:hover {
    display: initial;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}
/* Google search CSS */

.controls {
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
    background-color: rgba(255, 255, 255, 0.92);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 30px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}
#pac-input:focus {
    border-color: #000;
}
.clear-btn {
    position: absolute;
    top: 22px;
    left: 295px;
    color: #333;
    font-size: 20px;
    opacity: 0.92;
    cursor: default;
    z-index: 2;
}
.clear-btn:after {
    content: "\01F167";
}
@media only screen and (max-width: 400px) {
    #pac-input {
        width: 200px;
    }
    .clear-btn {
        left: 195px;
    }
}
.pac-container {
    font-family: "Roboto";
}
#type-selector {
    color: #fff;
    background-color: #000;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
}
/* End Google Search CSS */

.add-marker {
    cursor: pointer;
    padding-top: 5px;
}
.window-content {
    width: 300px;
    height: 190px;
    overflow: hidden;
}
.window-content h3 {
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content-title {
    font-weight: bold;
    font-size: 1.05em;
    margin-bottom: .2em;
}
.streetview {
    cursor: pointer;
    line-height: 0;
}
.foursquare,
.wiki {
    overflow: auto;
    height: 130px;
    margin-right: 44px;
}
.foursquare-info,
.wiki-list {
    margin-left: 15px;
}
.move-left,
.move-right {
    background-color: #000;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    font-family: "Roboto";
    color: #FFF;
    cursor: pointer;
    display: none;
    opacity: 0;
}
@media only screen and (max-width: 900px) {
    .move-left,
    .move-right {
        opacity: 0.3;
    }
}
.window-content:hover .move-left,
.window-content:hover .move-right {
    opacity: 0.3;
}
.move-left.move-left:hover,
.move-right.move-right:hover {
    opacity: 0.6;
}
.move-left {
    left: 0;
}
.move-right {
    right: 22px;
}
.move-left:after {
    content: "<";
}
.move-right:after {
    content: ">";
}
.pending,
.add-marker,
.foursquare,
.wiki {
    margin-left: 25px;
}